<div>
  mi variable es {{mi_variable}}

<button (click)="mostrar=!mostrar" type="button" name="button">mostar/oculrar</button>

  <div *ngIf='mostrar'>contenido variable
  <h1>{{frase.autor}}</h1>
  <p>{{frase.mensaje}}</p>
    </div>

<ul>
  <li *ngFor="let cosa of personajes; let i =index ">
    {{cosa}} {{i+1}}
  </li>
</ul>

<div class="todo">
  <label for="tarea"></label>
  <input id="tarea" type="text" #todotext required> <br>
  <button (click)="addTodo(todotext)" type="button">adicinar</button><br>
  <button (click)="clearCompleted()" type="button" >limpiar</button>
  <ul>
    <li *ngFor="let todo of todos">
      <input type="checkbox" name="done" ngModel (click)="{ 'done': todo.done = true }">
      <span [ngClass]="{'done': todo.done}">{{ todo.title }}</span>
    </li>
  </ul>
</div>


</div>
